In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("Jitendrahospital")
conn

In [3]:
cursor = conn.cursor()

In [4]:
cursor

In [7]:
cursor.execute('''
Create table employees(
Empid int,
Firstname varchar(255),
lastname varchar(255),
department varchar(255)
);''')

In [8]:
data = [
    (101,"jitendra","singh","data analyst"),
    (102,"jeetu","singh","data analyst")
]

In [10]:
cursor.executemany(
'''
insert into employees(Empid,Firstname,lastname,department)
values(?,?,?,?)''',data)

In [11]:
cursor.execute('''
select * from employees''')

In [13]:
data=cursor.fetchall()

In [14]:
data

[(101, 'jitendra', 'singh', 'data analyst'),
 (102, 'jeetu', 'singh', 'data analyst')]

In [15]:
import pymysql

In [16]:
conn = pymysql.connect(
host="localhost",
user = "root",
password = "",
database = "kumarhospital")

In [17]:
conn

In [18]:
cursor = conn.cursor()

In [19]:
cursor

In [20]:
cursor.execute('''
create table football(
empid int,
firstname varchar(255),
lastname varchar(255),
department varchar(255));''')

0

In [21]:
data = [
    (101,"jitendra","singh","data analyst"),
    (102,"jeetu","singh","data analyst")
]

In [22]:
cursor.executemany('''
insert into football(empid,firstname,lastname,department)values(%s,%s,%s,%s)''',data)

2

In [25]:
conn.commit()

In [26]:
cursor.execute('''
select * from football''')

2

In [28]:
data = cursor.fetchall()
data

()

In [29]:
datatodelete = "jitendra"

In [30]:
deletequery = '''
delete from football
where firstname = %s'''

In [32]:
cursor.execute(deletequery,datatodelete)

1

In [34]:
conn.commit()